/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

/* Define CSS variables for color scheme */
:root {
    --primary-color: #b98706;
    --secondary-color: #0874ad;
    --accent-color: #15f764;
    --additional-accent-color: #184E77;
  
    --heading-font: 'Lobster', cursive;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-bg-color: #333; /* Corrected variable name */
    --nav-link-color: #FFF;
    --nav-hover-link-color: #bd8a08;
    --nav-hover-background-color: #0077B6; 
}

body, h1, h2, p, ul {
  margin: 1px;
  padding: 3px;
  color: var(--primary-color);
  font-family: var(--heading-font);
}

body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

p {
  color: var(--text-color);
  font-family: var(--paragraph-font);
}

/* Style the header section */
header {
  background-color: #333;
  color: #FFF;
  padding: 10px;
  text-align: center;
}

.logo-box img {
  display: block;
  margin: 0 auto;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #FFF;
  text-decoration: none;
  margin: 0 10px;
}

.hero img {
  position: relative;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
}

/* Style the article section */
.Purpose-Mission-Vision {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 40%;
  background-color: rgba(255, 183, 3, 0.8); /* Adjust background color and opacity */
  padding: 20px;
  color: #FFF;
}

.Purpose-Mission-Vision img {
  float: right;
  margin-left: 20px;
}

/* Style the footer section */
footer {
  background-color: #333;
  color: #FFF;
  text-align: center;
  padding: 10px;
}

footer nav a {
  text-decoration: none;
  margin: 0 10px;
}

/* Style social media icons */
footer nav img {
  width: 20px;
  height: 20px;
  text-decoration: none;
}


/* Additional styles for .hero img */
.hero img {
  display: block;
  width: 100%; /* Set the width to 100% */
  height: auto;
}
