@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #b98706;
  --secondary-color: #066496;
  --accent-color: #15f764;
  --additional-accent-color: #184E77;

  --heading-font: 'Lobster', cursive;
  --paragraph-font: 'Roboto', sans-serif;

  --nav-bg-color: #3515ec; 
  --nav-link-color: #FFFFFF;
  --nav-hover-link-color: #bd8a08;
  --nav-hover-background-color: #0077B6; 
} 

body, h1, h2, p, ul, li {
  font-family: var(--heading-font);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--paragraph-font);
  max-width: 800px;
  margin: 2px;
}

header {
  text-align: left;
  color:#3515ec;
  display: flex;
  justify-content: space between;
  align-items: center;
}

.logo-box img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 200px;
}

header-nav a {
  color:var(--nav-hover-background-color);
  text-decoration: none; 
  text-align: left;
  margin-left: 20px;
}
header-nav a:hover {
  text-decoration: underline;
}

p {  
  padding: 5px;
  color: var(--text-color);
  font-family: var(--paragraph-font);
}

.logo-box img {
  display: block;
  margin: 2px auto;
  background-color: #FFFFFF;
}

footer-nav {
  font-size: 0.5em;
  display: flex;
  margin-top: 10px;
}

footer-nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1em;
  margin: 0 2px;
  text-decoration: none;
}

.title {
  margin-bottom: 0.4em;
  color:#0874ad;
}

.hero {
  position: relative;
}
.hero h1 {
  position: absolute;
  top: 8%;
  left: 0%;
  width: 95%;
  margin-left: 0px;
  padding: 20px;
  text-align:center;
  transform: translate(- 50%, -50%);
  Background-color:rgba(244, 243, 239, 0.912);
  color:#130196;
  z-index: 1;
}

.hero img {
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.Purpose-Mission-Vision {
  position: absolute;
  top: 72%;
  left: 12.5%;
  transform: translate(-10%, -50%);
  width: 90%;
  height: 41.5%;
  text-align: left;
  background-color: rgba(234, 242, 244, 0.912); 
  padding: 15px;
  color: var(--primary-color);
  z-index: 2;
}

.Purpose-Mission-Vision img {
  float: right;
  width: 40%;
  margin-right: 0.5px;
}

.Purpose-Mission-Vision p {
  margin-bottom: 0.5px;
}

footer {
  color: #184E77; /* Added a missing semicolon */
  text-align: center;
  padding: 10px;
}

footer nav {
  display: flex;
  justify-content: cente;
  margin-top: 10px;
}

footer nav a {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
  transition: 5transform 0.3s ease-in-out;
}
nav a:hover {
  transform: scale(1.2);
}

/* Style social media icons */
footer nav img {
  width: 20px;
  height: auto;
  text-decoration: none;
}