@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #ca5719;;
  --secondary-color: #066496;
  --accent-color: #15f764;
  --additional-accent-color: #184E77;

  --heading-font: 'Lobster', cursive;
  --paragraph-font: 'Roboto', sans-serif;

  --nav-bg-color: #3515ec; 
  --nav-link-color: #FFFFFF;
  --nav-hover-link-color: #bd8a08;
  --nav-hover-background-color: #0077B6; 
} 

body, h1, h2, p, ul, li {
  font-family: var(--heading-font);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--paragraph-font);
  font-size: 1.1rem;
  font-weight: 600;
  /* max-width: 800px; */
  margin: 3px;
}

header, .grid, main, footer {
  max-width: 840px;
  margin: 0 auto;
}

header {
  display: grid;  
  grid-template-columns: auto 1fr;
  background-color: #d7733d;
  color: #fff;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  gap: 1px;
}

main {
  padding: 20px
}

.logo-box {
  max-width: 200px;
  margin-bottom: 1px; 
}

.logo-box img {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 200px;
  margin: 2px;
}

p {  
  color: var(--text-color);
  font-family: var(--paragraph-font);
}

header-nav {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  /* margin-top: 10px; •/
}

header-nav a {
  text-decoration: none; 
  text-align: center;
  margin-left: 10px;
  display: inline;
  padding: 0;
  margin: 0 2px;
}

header-nav a:hover {
/* text-decoration: underline; */
  text-decoration: none;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h1 {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  width: 97.2%;
  margin-left: 1px;
  padding: 15px;
  text-align:center;
  font-size: 3.5rem;
  transform: translate(-1%, -50%);
  Background-color:rgba(244, 243, 239, 0.912);
  color:#130196;
  z-index: 1;
}

.hero img {
  display: flex;
  width: 100%;
  height: auto;
}

.hero article {
  position: absolute;
  top: 72%;
  left: 12.5%;
  transform: translate(-10%, -50%);
  width: 90%;
  height: 41.5%;
  text-align: left;
  background-color: rgba(234, 242, 244, 0.912); 
  padding: 15px;
  color: var(--primary-color);
  z-index: 2;
}

.hero article img {
  float: right;
  width: 40%;
  margin-right: 0.5px;
}

.hero article p {
  margin-bottom: 0.5px;
}

.history {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 3px;
}

.history-grid {
  display: grid;
  grid-template-columns: 320px 200px 320px;
  gap: 3rem;
}

.history h2 {
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 2.8rem;
  font-weight: 800;
  color: #099eed;
}

.history p {
  /* max-width: 95%; */
  display: flex;
  justify-content: space-evenly;
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  margin: 2px auto;
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 8px;
  text-align: left;
  margin-bottom: 10px;
} 

.history img {
  /* max-width: 100px; */
   display: inline-flex;
   justify-content: center;
   align-items: center;
   grid-column: 2 / 3;
   grid-row-start: 2/2
   width: 200px;
   height: auto; 
   /* margin-bottom: 10px; */
 } 

.wwr {
  display: inline-flexbox;
  padding: 1rem; 
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* flex-wrap: wrap; */
  /* margin-top: 30px; */
  /* margin-bottom: 15px; */
  text-align: center;
}

.wwr-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
  gap: 3rem;
}

.wwr h2 {
  display: top;
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  font-size: 2.8rem;
  font-weight: 800;
  text-align: center;
  color:#099eed;
}

.image-contaner img {
  display: inline-flex;
  justify-content: space-evenly;
  grid-column: 1 / 5;
  grid-row: 2 / 2;
/* max-width: 100%; */
  width: 100%;
  height: auto; 
  margin-bottom: 2px; 
}

footer {
  background-color: #d7733d;;
  color: #fff; 
  font-size: 1.2rem;
  font-weight: 700;
  text-align: right;
  padding: 20px;
}

footer p {
  margin: 0;
}

footer nav {
  display: flex;
  justify-content: flex-end;
  /* margin-top: 10px; */
  gap: 10px;
}

footer nav a {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}
footer-nav a:hover {
  transform: scale(1.1);
}

footer-nav img {
  display: inline;
  border-radius: 50%;
  border: 1px solid#ccc;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  width: 15px;
  max-width: 25px;
  height: auto;
  text-decoration: none;
}