@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap");

:root {
    --primary-color: #b98706;
    --secondary-color: #0077B6;
    --accent-color: #76C893;
    --additional-accent-color: #184E77;
  
    --heading-font: 'Lobster', cursive;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-bg-color: #333; /* Corrected variable name */
    --nav-link-color: #FFF;
    --nav-hover-link-color: #bd8a08;
    --nav-hover-background-color: #0077B6;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    padding: 25px;
}

nav {
    background-color: var(--nav-bg-color); /* Corrected variable name */
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}