main {
    max-width: 400px;
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(198, 61, 182, 0.2);
    padding: 2rem;
    background-color: #b2eff4;
    text-align: center;
    color: #2110d8;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
    background-color: #b2eff4;
    text-align: center;
    color: #2110d8;
}

aside img {
    width: 200px;
    height: auto;
    float: center;
    margin: 0 0 10px 15px;
    border: 1px solid #2007e3;;
    padding: 3px;
    background-color: #fff;
}

main img {
    width: 200px;
    height: auto;
    float: centre;
    margin: 0 0 10px 15px;
    border: 1px solid #2007e3;
    padding: 3px;
    background-color: #fff;
}

p { padding: 0; }

footer {
    margin-top: 20px;
    border-top: 1px solid #83ddf1;
    text-align: center; 
}